body {
  background-color: white;
}
head {color: black;
text-align: left;
font-family: Georgia serif;}
h1 {color: black}
nav {color: black;
  text-align: right;}
  /nav
p {color: black;
  text-align: center;}
  p {color: black}
