<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color:lightblue;
}

h1 {color: brown;
text-align: center;
font-family: Georgia serif;
}

h2 {color: black;
text-align: center;
font-family: Georgia serif;
}

nav {color: white;
  text-align: right;
}
  /nav
p {
	color: white;
  text-align: right;
}
  p 
  {color: white;
  }
  img style="text-align:center"
 