body {
  background-color: black;
}
head {color: white;
text-align: left;
font-family: Georgia serif;}
h1 {color: white}
nav {color: white;
  text-align: right;}
  /nav
p {color: white;
  text-align: right;}
  p {color: white}
