
<style>

body {background-color: rgb(255, 231, 204);
}

h1 {
text-align: left;
margin-left: 20%;
font-size: 24px;

}

h2 {
text-align: left;
margin-left: 2%;
font-size:22px
}
p {text-align: left;
  margin-left: 2%;
  margin-right: 35%;
font-size:18px} 
   }

</p>

</style>